<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Interngram</title>
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <span class="navbar-brand">InternGram</span>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
            Add
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <div ngbDropdownItem href="#" (click)="addPost('IMAGE', postModal)">Image</div>
            <div ngbDropdownItem href="#" (click)="addPost('VIDEO', postModal)">Video</div>
            <div ngbDropdownItem href="#" (click)="addPost('LINK', postModal)">Link</div>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <ng-template #postModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add post</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>Type</label>
          <select [(ngModel)]="post.type" class="form-control" name="type" >
            <option value="IMAGE">Image</option>
            <option value="VIDEO">Video</option>
            <option value="LINK">Link</option>
          </select>
        </div>
        <div class="form-group">
          <label>Title</label>
          <input [(ngModel)]="post.title" class="form-control" name="title" >
        </div>
        <div class="form-group">
          <label>URL</label>
          <input [(ngModel)]="post.meta.url" class="form-control" name="url" >
          <label>Alt text</label>
          <input [(ngModel)]="post.meta.alt" class="form-control" name="alt" >
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="save(postModal)">Save</button>
    </div>
  </ng-template>


  <div class="card" 
    *ngFor="let post of posts">
    
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <img [src]="post.meta.url" class="img-fluid"  *ngIf="post.type == 'IMAGE'">

      <a [href]="post.meta.url" *ngIf="post.type == 'VIDEO'">
        <svg class="bi bi-play-fill" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
        </svg>
        Play video
      </a>
    </div>

  </div>

</body>
</html>