<div class="content">

    <div class="card col-lg-4 col-md-6 col-sm-10 m-auto p-0">

      <ul class="nav nav-tabs d-flex">
        <li class="nav-item w-50">
          <a class="nav-link active" href="">Register</a>
        </li>
        <li class="nav-item w-50">
          <a class="nav-link" href="login">Login</a>
        </li>
      </ul>

      <div class="tab-content p-5">
          <div class="form-group" [formGroup]="registrationForm">

            <label>Email</label>
            <input 
              type="email" name="email" [(ngModel)]="user.Email"
              formControlName="email" 
              (change)="checkEmail()"
              class="form-control">

            <div *ngIf="checkingEmail" class="alert alert-primary my-2">
              Checking email...
            </div>

            <div *ngIf="usedEmailError"
              class="alert alert-danger my-2">

               This email is already registered

            </div>

            <div *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert alert-danger my-2">

                <div *ngIf="email.errors.required">
                  Enter an email
                </div>

                <div *ngIf="email.errors.pattern">
                  Email is invalid
                </div>

            </div>

            <label>Password</label>
            <input 
              type="password" name="password1" [(ngModel)]="user.Password"
              formControlName="password" 
              class="form-control">
          
            <label>Repeat password</label>
            <input 
              type="password" name="password2" [(ngModel)]="user.RepeatPassword"
              formControlName="repeatPassword" 
              class="form-control">

            <div *ngIf="password.invalid && (password.value != '' || repeatPassword.value != '')"
              class="alert alert-danger my-2">

              <div *ngIf="password.errors.minlength || password.errors.maxlength">
                Password should be 4-15 symbols
              </div>

            </div>

            <div 
                *ngIf="password.value != repeatPassword.value && (password.value != '' || repeatPassword.value != '')"
                class="alert alert-danger my-2">
                Passwords do not match
              </div>

          </div>

          <button
            [disabled]="checkingEmail || usedEmailError || !email.valid || !password.valid || !repeatPassword.valid || password.value != repeatPassword.value"
            (click)="register()"
            class="btn btn-primary btn-block">
            Register
          </button>

      </div>

  </div>

</div>