

.content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center; 
    background: rgb(37,80,130);
    background: linear-gradient(0deg, rgba(37,80,130,1) 0%, rgba(155,177,193,1) 22%, rgba(228,228,228,1) 100%);
}

h3{
    text-align: center;
}

.nav-link{
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
    border: 0px !important;
}

.nav-link:not(.active){
    background-color: rgba(155,177,193,1);
    color: black !important;
}

.nav-tabs{
    background-color: transparent !important;
}
.nav-tabs > * {
    border: 0px !important;
}