<div>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Comments
        </h4>
    </div>
    <div class="modal-body">

        <div class="alert alert-warning" *ngIf="comments.length == 0">
            No comments yet
        </div>

        <div class="alert" *ngFor="let comment of comments">
            <div class="d-flex">
                <h5>{{comment.userId.Email}}</h5>

                <div class="ml-auto">
                    <button 
                      *ngIf="user._id == post.userId._id"
                      (click)="deleteComment(comment)"
                      type="button" class="btn btn-outline-danger mx-1">
                      <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                      </svg>
                    </button>
                  </div>
            </div>
            <div>{{comment.comment}}</div>
        </div>

    </div>
    <div class="modal-footer">

        <div class="d-flex justify-content-center" style="width: 100%">

            <textarea class="flex-grow-1"
                [(ngModel)]="newComment.comment" placeholder="Your comment">

            </textarea>

            <button 
                [disabled]="newComment.comment.length == 0"
                type="button" 
                class="btn btn-outline-primary" 
                (click)="submitComment()">
            Comment</button>

        </div>

    </div>
</div>