.container-fluid{
    padding-top: 60px;
    background: rgb(37,80,130);
background: linear-gradient(0deg, rgba(37,80,130,1) 0%, rgba(155,177,193,1) 22%, rgba(228,228,228,1) 100%);
}

.card a{
    color: black !important;
    text-decoration: none !important;
}

h5{
    color: grey;
    font-size: 0.9rem;
    font-weight: normal;
}

.dropdown-menu div{
    cursor: pointer;
}